body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #28a745; /* Verde */
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.contenido {
  padding: 20px;
  text-align: center;
}
